.bank_reconcil_tree tr th[data-name="date"][style] {
    width: 10% !important;
  }
.bank_reconcil_tree tr th[data-name="name"][style] {
    width: 20% !important;
  }
.bank_reconcil_tree tr th[data-name="ref"][style] {
    width: 30% !important;
  }
.bank_reconcil_tree tr th[data-name="partner_id"][style] {
    width: 20% !important;
  }
.bank_reconcil_tree tr th[data-name="date_maturity"][style] {
    width: 10% !important;
  }
.bank_reconcil_tree tr th[data-name="statement_date"][style] {
    width: 10% !important;
  }
.bank_reconcil_tree tr th[data-name="debit"][style] {
    width: 10% !important;
  }
 .bank_reconcil_tree tr th[data-name="credit"][style] {
    width: 10% !important;
  }
