# --------------------
# Python
# --------------------
*.pyc
*.pyo
*.pyd
__pycache__/
*.cover
*.py[cod]
*.egg-info/

# --------------------
# Odoo temp / logs / databases
# --------------------
*.log
*.pid
*.sqlite
*.db
*.pot
*.po~
*.mo
*.swp
*.bak

# Odoo filestore (user uploads, attachments)
filestore/

# --------------------
# Virtual environments / IDE
# --------------------
venv/
env/
.idea/
.vscode/
*.iml

# --------------------
# Node / Asset builds
# --------------------
node_modules/
*.map
*.scssc
*.min.js

# --------------------
# OS / Misc
# --------------------
.DS_Store
Thumbs.db
*.swp
