.page-border{
border:1px solid black;
border-top:0px;
}

.table1{
/*color:red;*/
/*font-weight:900;*/
width:100%;
border:1px solid black;
border-left:0px;
border-right:0px;
border-top:0px;
margin-top:-17px;
}

.table1-tr1{
padding-left:10px;
}

.table1-td{
text-align:right;
padding-right:10px;
}

.table2{
width:100%;
}

.table2-tr{
border-bottom:1px solid black;
font-weight:bold;
}

.table2-tr1{
text-align:right;
padding-right:10px;
}

.font-weight-bolder {
  font-weight: bolder !important;
}

.category{
padding-left:10px;

}

.name{
font-weight:700;
}

.total{
text-align:right;
padding-right:10px;

}

.tbody-tr{
border-top:1px solid black;
font-weight:bold;
}

.net{
text-align:center;
}

.netamount{
text-align:right;
padding-right:10px;


}

.row-padding{
padding-top:50px;
}

.center{
text-align:center;
}

.spacing{
padding-left:5px;
}

.pt1{
padding-bottom:20px;
}

.nowwrap{
white-space:nowrap;
}

.ta-c{
text-align:center;
}

.fw-b{
font-weight:bold;
}
