.adjustments_form_cls tr th[class="o_list_record_remove_header"][style] {
  max-width: 10px !important;
  width: 10px !important;
}
.adjustments_form_cls tr th[data-name="sl_no"][style] {
  max-width: 17px !important;
  min-width: 17px !important;
  width: 17px !important;
}
.adjustments_form_cls tr th[data-name="product_id"][style] {
  max-width: 150px !important;
  min-width: 150px !important;
  width: 150px !important;
}
.adjustments_form_cls tr th[data-name="prod_qty"][style] {
  max-width: 40px !important;
  min-width: 40px !important;
  width: 40px !important;
}
.adjustments_form_cls tr th[data-name="prod_lot_name"][style] {
  max-width: 40px !important;
  min-width: 40px !important;
  width: 40px !important;
}
.adjustments_form_cls tr th[data-name="prod_lot_id"][style] {
  max-width: 40px !important;
  min-width: 40px !important;
  width: 40px !important;
}
.adjustments_form_cls tr th[data-name="sales_rate"][style] {
  max-width: 40px !important;
  min-width: 40px !important;
  width: 40px !important;
}
