.invoice_line_ids_child tr th[data-name="product_id"][style] {

    max-width: 200px !important;
    width: 200px !important;

}



.invoice_line_ids_child tr th[data-name="sl_no"][style] {

    max-width: 35px !important;
    width: 35px !important;
    text-align: center !important;

}


.invoice_line_ids_child tr th[data-name="discount"][style] {

    max-width: 60px !important;
    width: 60px !important;

}

.invoice_line_ids_child tr th[data-name="price_unit"][style] {

    max-width: 60px !important;
    width: 60px !important;

}

.invoice_line_ids_child tr th[data-name="quantity"][style] {

    max-width: 60px !important;
    width: 60px !important;

}

.invoice_line_ids_child tr th[data-name="free_qty"][style] {

    max-width: 60px !important;
    width: 60px !important;

}


.invoice_line_ids_child tr th[data-name="lot_name"][style] {

    max-width: 100px !important;
    width: 100px !important;

}

.invoice_line_ids_child tr th[data-name="lot_id"][style] {

    max-width: 100px !important;
    width: 100px !important;

}

.invoice_line_ids_child tr th[data-name="product_uom_id"][style] {

    max-width: 60px !important;
    width: 60px !important;

}

.invoice_line_ids_child tr th[data-name="hsn_code"][style] {

    max-width: 86px !important;
    width: 86px !important;

}



// .invoice_line_ids_child table {
//     table-layout: unset !important;
// }

.invoice_line_ids_child tr th[data-name="tax_ids"][style] {

    max-width: 80px !important;
    width: 80px !important;

}

.purchase_order_lines_style table tr th:nth-child(5) {
    max-width: 30px !important;
    width: 30px !important;
}